If:
  PathMatch: .*/.(c|h)$ # .c and .h
CompileFlags:
  Add: [-Wall, -Wextra, -pedantic, -O0, -std=c23, -c]
  Compiler:  C:\Program Files\LLVM\bin\clang.exe

---

If:
  PathMatch: .*/.(c|h)pp$  # .cpp and .hpp
CompileFlags:
  Add: [-Wall, -Wextra, -pedantic, -O0, -std=c++23, -c]
  Compiler:  C:\Program Files\LLVM\bin\clang++.exe

---
